<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

	{% include yandex-metrica.html %}
	{% include google-analytics.html %}
    <script src="/public/js/tabs.js"></script>
    {% if page.mermaid %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
    {% endif %}

  </body>
</html>
